{
    "importOrder": [
        "^(next/(.*)$)|^(next$)",
        "<THIRD_PARTY_MODULES>",
        "next-seo.config", 
        "^components/(.*)$",
        "^utils/(.*)$",
        "^assets/(.*)$",
        "^@fontsource/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}